.nav-hero {
    position: relative;
    // background-color: #e3d7b7;

    .circle {
        width: 30rem;
        height: 30rem;
        background-color: #efe8d9;
        border-radius: 50%;
        position: absolute;
        top: -20%;
        right: -10%;
        z-index: 1;
    }

    .blob {
        position: absolute;
        top: -20%;
        left: -20%;
        z-index: 1;
        width: 40%;
    }

    .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
    }

    .hero {
        max-height: 100%;
        z-index: 2;
        padding-bottom: 2rem;

        .hero-flex {
            max-height: 100%;

            @media (min-width:1200px) {
                display: flex;
                gap: 2rem;
            }
        }

        @media (max-width: 1200px) {
            padding: 2rem 0 3rem;
        }

        .info-div {
            padding: 2rem 0 4rem;
            width: 50%;
            position: relative;

            @media (max-width:1200px) {
                width: 100%;
                z-index: 3;
                padding: 2rem 0 3rem;
            }

            @media (max-width: 992px) {
                padding: 0rem 0 4rem;
            }

            @media (max-width: 768px) {
                padding: 0rem 0rem 0rem;
            }

            h1 {
                font-size: 50px;
                margin-bottom: 2.5rem;
                color: $primary;
                text-shadow: 0 0 1px rgba(61, 64, 52, 0.5);
                z-index: 3;
                font-family: 'Playfair Display', serif;

                @media (max-width: 768px) {
                    font-size: 35px;
                }

                @media (max-width: 576px) {
                    font-size: 32px;
                }

                span {
                    font-family: 'Roboto', sans-serif;
                }
            }

            p {
                font-size: 19px;
                color: $dark;
                width: 100%;
                // text-shadow: rgb(41, 41, 41) 0.1em 0.1em 0.2em;
                z-index: 3;

                @media (max-width: 768px) {
                    font-size: 16px;
                }

                @media (max-width: 576px) {
                    font-size: 15px;
                }
            }
        }

        .img-div {
            width: 50%;
            z-index: 2;

            @media (max-width:1200px) {
                width: 0%;
            }

            .hero-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 2;
                max-height: 600px;
                border-radius: 8px;

                @media (max-width: 1200px) {
                    //   height: 90%;
                    margin-top: auto;
                }

                @media (max-width: 992px) {
                    max-height: 20rem;
                }
            }
        }

        .hero-testimonials {
            padding-right: 5rem;

            .column {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #fff;
                padding: 1rem 2rem;
                border-radius: 4px;
                z-index: 3;
                margin: 0 !important;

                p {
                    text-shadow: none;
                }

                .testimonial-text {
                    color: $dark;
                    margin-bottom: 0.5rem;
                }

                .name {
                    color: $primary;
                    text-transform: capitalize;
                    font-weight: 500;
                }

                .stars {
                    color: #e7ba07;
                    margin-bottom: 0.4rem;

                    i {
                        font-size: 1.1rem;
                        margin: 0 0.05rem;
                    }
                }
            }

            .slick-arrow {}

            .left-arrow {
                right: -4rem !important;
                top: 25%;
                left: inherit !important;
            }

            .right-arrow {
                right: -4rem !important;
                top: inherit !important;
                bottom: 20%;
            }
        }
    }

}