.nav-hero {
    position: relative;
    background-color: rgb(227, 215, 183, 0.2);

    .circle {
        width: 30rem;
        height: 30rem;
        background-color: #efe8d9;
        border-radius: 50%;
        position: absolute;
        top: -20%;
        right: -10%;
        z-index: 1;
    }

    .blob {
        position: absolute;
        top: -20%;
        left: -20%;
        z-index: 1;
        width: 40%;
    }

    .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
    }

    .hero {
        max-height: 100%;
        z-index: 2;
        padding-bottom: 2rem;

        .hero-flex {
            max-height: 100%;

            @media (min-width:1200px) {
                display: flex;
                gap: 2rem;
            }
        }

        @media (max-width: 1200px) {
            padding: 2rem 0 3rem;
        }

        .info-div {
            padding: 2rem 0 4rem;
            width: 50%;
            position: relative;

            @media (max-width:1200px) {
                width: 100%;
                z-index: 3;
                padding: 2rem 0 3rem;
            }

            @media (max-width: 992px) {
                padding: 0rem 0 4rem;
            }

            @media (max-width: 768px) {
                padding: 0rem 0rem 4rem;
            }

            h1 {
                font-size: 50px;
                margin-bottom: 2.5rem;
                color: $primary;
                text-shadow: 0 0 1px rgba(61, 64, 52, 0.5);
                z-index: 3;
                font-family: 'Playfair Display', serif;

                @media (max-width: 768px) {
                    font-size: 35px;
                }

                @media (max-width: 576px) {
                    font-size: 32px;
                }

                span {
                    font-family: 'Roboto', sans-serif;
                }
            }

            p {
                font-size: 19px;
                color: $dark;
                width: 100%;
                // text-shadow: rgb(41, 41, 41) 0.1em 0.1em 0.2em;
                z-index: 3;

                @media (max-width: 768px) {
                    font-size: 16px;
                }

                @media (max-width: 576px) {
                    font-size: 15px;
                }
            }
        }

        .img-div {
            width: 50%;
            z-index: 2;

            @media (max-width:1200px) {
                width: 100%;
            }

            .hero-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 2;
                min-height: 600px;
                max-height: 600px;
                border-radius: 8px;

                @media (max-width: 1400px) {
                    max-height: inherit;
                    height: 750px;
                }

                @media (max-width: 1200px) {
                    //   height: 90%;
                    margin-top: auto;
                    height: 550px;
                    min-height: inherit;
                }

                @media (max-width: 992px) {
                    max-height: 20rem;
                }
            }
        }

        .hero-testimonials {
            padding-right: 5rem;

            .column {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #fff;
                padding: 1rem 2rem;
                border-radius: 4px;
                z-index: 3;
                margin: 0 !important;
                // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border: 2px solid #efe8d9;

                p {
                    text-shadow: none;
                }

                .testimonial-text {
                    color: $dark;
                    margin-bottom: 0.5rem;
                }

                .name {
                    color: $primary;
                    text-transform: capitalize;
                    font-weight: 500;
                }

                .stars {
                    color: #e7ba07;
                    margin-bottom: 0.4rem;

                    i {
                        font-size: 1.1rem;
                        margin: 0 0.05rem;
                    }
                }
            }

            .slick-arrow {}

            .left-arrow {
                right: -4rem !important;
                top: 25%;
                left: inherit !important;
            }

            .right-arrow {
                right: -4rem !important;
                top: inherit !important;
                bottom: 20%;
            }
        }
    }

}

// About Us
.about-us {
    .flex {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 2rem 0;
        gap: 2rem;

        @media (min-width: 992px) {
            flex-direction: row;
        }

        .img-side {
            width: 100%;
            max-width: 500px;
            max-height: 500px;
            object-fit: cover;
            object-position: bottom;
            height: 100%;
            border-radius: 8px;
            overflow: hidden;

            @media (max-width:1200px) {
                height: 700px;
                max-height: 600px;
            }

            @media (min-width: 992px) {
                width: 50%;
            }

            @media (max-width: 992px) {
                width: 100%;
                max-width: 100%;
                max-height: 400px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info-side {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            overflow: hidden;

            .text {
                padding: 1rem 2rem;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;

                h2 {
                    font-size: 1.5rem;
                    color: $primary;
                    margin-bottom: 1rem;
                }

                p {
                    font-size: 1rem;
                    color: $dark;
                    text-align: center;
                }
            }
        }
    }
}

// Services
.services {
    background: $primary;
    padding: 3rem 7rem;

    @media (max-width: 1200px) {
        padding: 3rem 0rem;
    }

    .header {
        font-size: 45px;
        color: #ffffff !important;

        &::after {
            content: "";
            position: absolute;
            background-color: #ffd700;
            width: 3rem;
            height: 3px;
            bottom: -0.5rem;
            left: 0%;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }
    }

    .header-main {
        margin-bottom: 3rem;
        position: relative;

        @media (max-width: 768px) {
            font-size: 35px;
        }

        &::after {
            content: "";
            position: absolute;
            background-color: #ffd700;
            width: 3rem;
            height: 3px;
            bottom: -0.5rem;
            left: 50% !important;
            transform: translateX(-50%);
        }
    }

    .service-flip {
        .flex {
            flex-direction: row-reverse;
        }
    }

    .service {
        margin-bottom: 4rem;

        .flex {
            display: flex;
            align-items: center;
            gap: 2rem;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            .img-side {
                width: 100%;
                max-height: 500px;
                object-fit: cover;
                object-position: bottom;
                height: 100%;
                border-radius: 8px;
                overflow: hidden;

                @media (max-width:1200px) {
                    height: 700px;
                    max-height: 400px;
                }

                @media (max-width: 992px) {
                    width: 100%;
                    max-width: 100%;
                    max-height: 400px;
                }

                @media (max-width: 992px) {
                    width: 100%;
                    max-width: 100%;
                    max-height: 300px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .info-side {
                width: 100%;
                height: 100%;
                border-radius: 8px;
                overflow: hidden;

                p {
                    margin-bottom: 3rem;
                    color: #ffffff;
                }
            }
        }
    }
}

.amenities {
    .flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
            padding-bottom: 2rem;
        }

        .header-side {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: space-between;
        }


        .box-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            padding: 1rem 0;

            @media (max-width: 1200px) {
                padding: 0rem;
            }

            @media (max-width: 450px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .box {
                border-radius: 12px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                padding: 1rem;

                img {
                    width: 6rem;
                    margin-bottom: 0.5rem;
                    filter: grayscale(100%);
                }

                .name {
                    font-size: 18px;
                    font-weight: 500;
                    color: $dark;
                    margin-bottom: 0.5rem;
                }

                .description {
                    font-size: 16px;
                    color: $info;
                }
            }
        }
    }
}

// CTA
.cta {
    position: relative;
    padding: 5rem 0;
    background-color: rgba(0, 0, 0, 0.7);

    .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        z-index: -1;
    }

    h5 {
        font-size: 40px;
        text-align: center;
        text-shadow: 0px 0px 3px rgb(0, 0, 0, 0.2);
        color: $white;

        @media (max-width: 576px) {
            font-size: 30px;
        }
    }
}

// Testimonials
.testimonials {
    position: relative;
    background-color: rgb(227, 215, 183, 0.5);
    padding: 4rem 0;

    .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        object-fit: cover;
    }

    .testimonial {
        z-index: 1;
        text-align: center;

        .quote {
            font-size: 95px;
            color: $success;
        }

        .comment {
            font-size: 22px;
            color: #4d4d4d;
            margin: 3rem 2rem;
            text-shadow: 0px 0px 1px rgb(0, 0, 0);
        }


        .name {
            font-size: 23px;
            font-weight: 600;
            color: $success;
            text-shadow: 0 0 2px rgba(63, 62, 62, 0.5);
        }


    }

    .stars {
        color: #e7ba07;
        margin: 1rem 0;

        i {
            font-size: 1.1rem;
            margin: 0 0.05rem;
        }
    }
}


// Lounge Details
.lounge-details {
    position: relative;
    padding: 7rem 3rem;

    @media (max-width: 992px) {
        padding: 5rem 0rem;
    }

    .bg-img {
        position: absolute;
        z-index: -2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        filter: brightness(60%);
    }

    .flex {
        display: flex;
        padding: 0rem 7rem;

        @media (max-width: 1400px) {
            padding: 0rem;
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .information {
            width: 40%;
            background-color: $primary;
            padding: 2rem;

            @media (max-width: 768px) {
                width: 100%;
            }

            .unit {
                margin-bottom: 1.5rem;

                h5 {
                    color: $white;
                    font-family: 'Playfair Display', serif;
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    position: relative;

                    &::after {
                        content: "";
                        width: 3rem;
                        height: 3px;
                        background-color: $white;
                        position: absolute;
                        bottom: -0.5rem;
                        left: 0;

                    }
                }

                p,
                a {
                    color: $white;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    text-align: justify;
                }
            }
        }

        .map {
            width: 60%;

            @media (max-width: 768px) {
                width: 100%;
            }

            iframe {
                @media (max-width: 768px) {
                    min-height: 400px;
                }
            }
        }
    }
}

footer {
    background-color: $primary;
    color: $white;
    padding: 5rem 0 2rem;

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer-logo {
            width: 90%;
        }

        h4{
            font-size: 1.7rem;
            margin-bottom: 1.5rem;
            font-weight: 600;
            position: relative;

            &::after{
                content: "";
                position: absolute;
                width: 3rem;
                height: 3px;
                background-color: $white;
                bottom: -0.8rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        a{
            display: block;
            color: $white;
            font-size: 1.1rem;
            line-height: 2.5rem;
        }
    }
}